<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" 
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>items</key>
  <array>
    <dict>
      <key>assets</key>
      <array>
        <dict>
          <key>kind</key>
          <string>software-package</string>
          <key>url</key>
          <string>https://app-easy-dev.s3.ap-northeast-1.amazonaws.com/easychange/app/xfw/ios/test/Xinfang_testType_1.0.145_20250514180726.ipa</string>
        </dict>
      </array>
      <key>metadata</key>
      <dict>
        <key>bundle-identifier</key>
        <string>com.trusthouse.flutter.app</string>
        <key>bundle-version</key>
        <string>1.0.145</string>
        <key>kind</key>
        <string>software</string>
        <key>title</key>
        <string>信房网</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
